{% extends './layouts/header.html' %}
{% block content %}
<br>
<div class="d-flex align-items-center flex-column">
    <h2><!-- 게시글 제목 --></h2>
    <small><!-- 게시글 날짜 --></small>
    <p><!-- 게시글 내용 -->></p>
    <hr width="40%">
</div>


<!-- 댓글 등록 -->
<div class="d-flex align-items-center flex-column">
    <form action="#" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="comment" id="comment">
            <input type="submit" value="댓글달기">
        </div>
    </form>
</div>

<br>
<br>

<!-- 댓글 목록 -->
<div class="d-flex align-items-center flex-column">
    <small><!-- 댓글 내용 --></small>
    <hr width="20%">
</div>
{% endblock %}