{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>멋쟁이 사자 10기 :: 장고</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
  <div class="nav justify-content-center">
    <img src="{% static 'img/Lion.png'%}" class="justify-content-center" width="200">
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">홈</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'new' %}">게시글 생성</a>
    </li>
    <li class="nav-item">
        <!--로그인 -->
      <a class="nav-link" href="#">로그인</a>
    </li>
  </ul>
  {% block content %}
  {% endblock %}
</body>

</html>